body{
    background-color: burlywood;
}

h1,h2,h3,h4{
    color: RebeccaPurple;
    text-align: center;
}

p{
    font-size: 12px;
    font-family: Georgia, serif;
    text-align: center;
}

span.boldtext{
    font-weight: bold;
}

span.italictext{
    font-style: italic;
}

code{
    background-color: GhostWhite;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #f2f2f2;
}

/*

*/
